@{
    ViewData["Title"] = "Pesquisas";
    ViewData["Page"] = "Search";
    Layout = "_LayoutM2";
}
<section id="pesquisas" class="half-screen container-fluid bg-light-gray">
    <div class="container-big limit-1366 vertical-center text-center py-2">

        <header>
            <h2 class="h1 font-black"> Links de todas as paginas </h2>
        </header>
        <section>
            <span>
                <a class="btn btn-gray-outline" href="@Url.Action("AutorizarMetrica","News")" title="">
                    AutorizarMetrica
                </a>
            </span>
            <span>
                <a class="btn btn-gray-outline" href="@Url.Action("DisasterCheck","News")" title="">
                    DisasterCheck
                </a>
            </span>
            <span>
                <a class="btn btn-gray-outline" href="@Url.Action("DisasterCheckResult","News")" title="">
                    DisasterCheckResult
                </a>
            </span>
            <span>
                <a class="btn btn-gray-outline" href="@Url.Action("EuQuero","News")" title="">
                    EuQuero
                </a>
            </span>
            <span>
                <a class="btn btn-gray-outline" href="@Url.Action("MidiaKit","News")" title="">
                    MidiaKit
                </a>
            </span>
            <span>
                <a class="btn btn-gray-outline" href="@Url.Action("Pesquisas","News")" title="">
                    Pesquisas
                </a>
            </span>
            <span>
                <a class="btn btn-gray-outline" href="@Url.Action("PesquisasPlanos","News")" title="">
                    PesquisasPlanos
                </a>
            </span>
            <span>
                <a class="btn btn-gray-outline" href="@Url.Action("PlanosAgencias","News")" title="">
                    PlanosAgencias
                </a>
            </span>
            <span>
                <a class="btn btn-gray-outline" href="@Url.Action("PlanosInfluenciadores","News")" title="">
                    PlanosInfluenciadores
                </a>
            </span>
            <span>
                <a class="btn btn-gray-outline" href="@Url.Action("SocialStalker","News")" title="">
                    SocialStalker
                </a>
            </span>
            <span>
                <a class="btn btn-gray-outline" href="@Url.Action("SocialStalkerResult","News")" title="">
                    SocialStalkerResult
                </a>
            </span>
            <span>
                <a class="btn btn-gray-outline" href="@Url.Action("SolicitacaoMetrica","News")" title="">
                    SolicitacaoMetrica
                </a>
            </span>
        </section>

    </div>
</section>
