@model webMetrics.Models.DTO.InfluencersResumo

@{
    Layout = null;
}

@{
    ViewBag.Title = "Influencers Inc.";

    var faixa1 = 100000; //Até
    var faixa2 = 500000;

    var valor1 = 15.5;
    var valor2 = 13.5;
    var valor0 = 12.5;
}


<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Influencers Inc</title>

    <link rel="stylesheet" href="~/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/node_modules/@@fortawesome/fontawesome-free/css/all.css">
    <link rel="stylesheet" href="~/resources/assets/styles/fonts.css">
    <link rel="stylesheet" href="~/resources/assets/styles/global.css">
    <link rel="stylesheet" href="~/resources/assets/styles/mobile.css">
    <script src="~/js/maps.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.bundle.min.js">
    </script>
    <script>
        var barChartData =
            {
                labels: [@Html.Raw(ViewBag.CabecalhoFaceDetection)],
                datasets: [{
                    label: 'Emoções',
                    backgroundColor: [
                        "#32CD32",
                        "#F0E68C",
                        "#CD5C5C",
                        "#696969"
                    ],
                    borderWidth: 2,
                    data: [@ViewBag.ListaFaceDetection]
                }]
            };

            window.onload = function () {
                var ctx1 = document.getElementById("barcanvas").getContext("2d");
                window.myBar = new Chart(ctx1,
                    {
                        type: 'bar',
                        data: barChartData,
                        options:
                            {
                                title:
                                {
                                    display: true,
                                    text: "Emoções"
                                },
                                responsive: true,
                                maintainAspectRatio: true
                            }
                    });
            }
    </script>
</head>
<body class="bg-light">
    <nav class="navbar navbar-expand-lg navbar-light bg-white card-resume shadow-sm py-0 py-md-2 px-md-3 px-2">
        <a class="navbar-brand" href="#">
            <img src="~/resources/assets/images/logo.png" alt="logo">
        </a>
        <button class="navbar-toggler px-1 py-0" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav flex-row ml-auto justify-content-between align-items-center">
                <li class="nav-item">
                    <a href="javascript:;" class="nav-link btn btn-sm btn-success text-white py-0 px-2" onclick="window.print();">IMPRIMIR</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Sair</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <nav class="nav bg-white card-resume fixed sidebar-mobile w-100 justify-content-between d-md-none" id="sidebar">
        <a class="nav-link active" href="#"><i class="far fa-user"></i></a>
        <a class="nav-link" href="javascript:;" data-link="#hashtags"><i class="fa fa-hashtag"></i></a>
        <a class="nav-link" href="javascript:;" data-link="#mentions"><i class="fa fa-at"></i></a>
        <a class="nav-link" href="javascript:;" data-link="#mentioned"><i class="fa fa-comments"></i></a>
        <a class="nav-link" href="javascript:;" data-link="#places"><i class="fa fa-map-marker-alt"></i></a>
        <a class="nav-link" href="javascript:;" data-link="#maps-places"><i class="fa fa-map-marked-alt"></i></a>
        <a class="nav-link" href="javascript:;" data-link="#photo"><i class="fa fa-tags"></i></a>
        <a class="nav-link" href="javascript:;" data-link="#recent"><i class="far fa-images"></i></a>
        <a class="nav-link" href="javascript:;" data-link="#emotional"><i class="far fa-images"></i></a>
    </nav>

    <div class="row bg-white card-resume fixed w-100 m-0 p-0 shadow-sm" id="row-fixed" style="display:none;">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="row d-flex align-items-center py-2" id="row-info">
                        <div class="col-md-1 col-2 pr-1 pr-md-3 order-1">
                            @if (Model != null)
                            {
                                var imgProfile = Model.ProfilePicture;
                                <img width="90%" src="@imgProfile" alt="logo">
                            }
                        </div>
                        <div class="col-md-3 col-7 pr-0 pr-md-3 order-2 d-none d-md-block">
                            <h5 class="mb-0" style="font-weight:600">@Model.NomeCompleto</h5>
                            <span>@@@Model.UserName</span><br>
                        </div>

                        <div class="col-md-2 col-3 ml-auto text-right order-md-3 order-4 pr-0 pr-md-3">
                            <small>Seguidores</small><br>
                            <h5 class="mb-0">@Model.Seguidores</h5>
                        </div>

                        <div class="col-md-4 col-5 text-left order-md-4 order-5">
                            <small>Média de alcance dos posts</small><br>
                            <h5 class="mb-0">@Model.avgPostReach</h5>
                        </div>

                        <div class="col-md-1 col-2 order-md-5 pl-0 order-6">
                            @if (Model.Aprovado==2)
                            {
                                <span class="badge badge-success d-block"><h5 class="mb-0 p-0 title-percentage">+@Model.percentAvg %</h5></span>
                            }
                            else
                            {
                                <span class="badge badge-danger d-block"><h5 class="mb-0 p-0 title-percentage">-@Model.percentAvg %</h5></span>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5 mt-md-3 mb-5" id="profile">
        <div class="row">
            <div class="col-md-9 pr-md-0 pr-3 col-12 order-2 order-md-1" id="printdivs">

                <div class="row d-flex align-items-center" id="row-info">
                    <div class="col-md-2 col-3 ml-auto order-1">
                        @if (Model != null)
                        {
                            var imgProfile = Model.ProfilePicture;
                            <img width="100%" src="@imgProfile" alt="logo">
                        }
                    </div>
                    <div class="col-md-3 col-5 order-2 pl-0 pl-md-3 pr-0 pr-md-3">
                        <h5 class="mb-0" style="font-weight:600">@Model.NomeCompleto</h5>
                        <span>@@@Model.UserName</span><br>
                        <span>@Model.SocialContext</span>
                    </div>

                    <div class="col-md-2 col-5 text-right order-md-3 order-4 pr-0 pr-md-3 mt-md-4 mt-3">
                        <small>Seguidores</small><br>
                        <h5>@Model.Seguidores</h5>
                    </div>

                    <div class="col-md-3 col-7 text-left order-md-4 order-5 mt-md-4 mt-3">
                        <small>Média de alcance dos posts</small><br>
                        <h5>@Model.avgPostReach</h5>
                    </div>

                    <div class="col-md-2 col-3 order-3 order-md-5 pr-0 pr-md-3 mr-auto">
                        @if (Model.Aprovado==2)
                        {
                            <span class="badge badge-success d-block"><h5 class="mb-0 p-0">+@Model.percentAvg %</h5></span>
                        }
                        else
                        {
                            <span class="badge badge-danger d-block"><h5 class="mb-0 p-0">-@Model.percentAvg %</h5></span>
                        }
                    </div>
                </div>

                <div class="row mt-md-5 mt-3">
                    <div class="col">
                        <h3 class="">SUMÁRIO</h3>
                    </div>
                </div>

                <div class="row mb-md-2 mb-3">
                    <div class="col-md col-6 pr-0 mb-3 mb-md-0">
                        <div class="w-100 bg-white card-resume rounded text-right p-2 position-relative">
                            <span class="text-muted small">Seguidores</span>
                            <h5 class="mb-0">@Model.Seguidores</h5>
                        </div>
                    </div>
                    <div class="col-md col-6 pl-md-2 mb-3 mb-md-0">
                        <div class="w-100 bg-white card-resume rounded text-right p-2 position-relative">
                            <span class="text-muted small">Seguindo</span>
                            <h5 class="mb-0">@Model.Seguindo</h5>
                        </div>
                    </div>
                    <div class="col-md col-6 pl-md-2 pr-0">
                        <div class="w-100 bg-white card-resume rounded text-right p-2 position-relative">
                            <span class="text-muted small">Seguindo / Seguidores</span>
                            <h5 class="mb-0">@Math.Round(Model.SeguindoSeguidores, 4) %</h5>
                        </div>
                    </div>
                    <div class="col-md col-6 pl-md-2 pr-md-3">
                        <div class="w-100 bg-white card-resume rounded text-right p-2 position-relative">
                            <span class="text-muted small">Unicos</span>
                            <h5 class="mb-0">@Model.SeguidoresUnicos</h5>
                        </div>
                    </div>
                </div>

                <div class="row mb-md-2 mb-3">
                    <div class="col-md col-6 pr-0 mb-3 mb-md-0">
                        <div class="w-100 bg-white card-resume rounded text-right p-2 position-relative">
                            <span class="text-success float-left small text-number">+ 0.5%</span>
                            <span class="text-muted small">Posts</span>
                            <h5 class="mb-0">@Model.Posts</h5>
                        </div>
                    </div>
                    <div class="col-md col-6 pl-md-2 mb-3 mb-md-0">
                        <div class="w-100 bg-white card-resume rounded text-right p-2 position-relative">
                            <span class="text-muted small">Avg. posts diário</span>
                            <h5 class="mb-0">@Model.avgPostReach</h5>
                        </div>
                    </div>
                    <div class="col-md col-6 pl-md-2 pr-0">
                        <div class="w-100 bg-white card-resume rounded text-right p-2 position-relative">
                            <span class="text-muted small">Avg. posts semanal</span>
                            <h5 class="mb-0">@Model.avgPostReach</h5>
                        </div>
                    </div>
                    <div class="col-md col-6 pl-md-2 pr-md-3">
                        <div class="w-100 bg-white card-resume rounded text-right p-2 position-relative">
                            <span class="text-muted small">Avg. posts mensal</span>
                            <h5 class="mb-0">@Model.avgPostReach</h5>
                        </div>
                    </div>
                </div>

                <div class="row mb-md-2 mb-3">
                    <div class="col-md col-6 pr-0 mb-3 mb-md-0">
                        <div class="w-100 bg-white card-resume rounded text-right p-2 position-relative">
                            <span class="text-danger float-left small text-number">- 26.4%</span>
                            <span class="text-muted small">Likes</span>
                            <h5 class="mb-0">@Model.Curtidas</h5>
                        </div>
                    </div>
                    <div class="col-md col-6 pl-md-2 mb-3 mb-md-0">
                        <div class="w-100 bg-white card-resume rounded text-right p-2 position-relative">
                            <span class="text-muted small">Avg. Likes</span>
                            <h5 class="mb-0">@Model.MediaCurtidas</h5>
                        </div>
                    </div>
                    <div class="col-md col-6 pl-md-2 pr-0">
                        <div class="w-100 bg-white card-resume rounded text-right p-2 position-relative">
                            <span class="text-muted small">Comentários</span>
                            <h5 class="mb-0">@Model.Comentarios</h5>
                        </div>
                    </div>
                    <div class="col-md col-6 pl-md-2 pr-md-3">
                        <div class="w-100 bg-white card-resume rounded text-right p-2 position-relative">
                            <span class="text-muted small">Avg. Comentários</span>
                            <h5 class="mb-0">@Math.Round(Model.MediaComentarios, 4)</h5>
                        </div>
                    </div>
                </div>

                <div class="row mb-md-2 mb-3">
                    <div class="col-md col-6 pr-0 mb-3 mb-md-0">
                        <div class="w-100 bg-white card-resume rounded text-right p-2 position-relative">
                            <span class="text-muted small">Comentários / Seguidores</span>
                            <h5 class="mb-0">@Math.Round(Model.ComentariosSeguidores, 4) %</h5>
                        </div>
                    </div>
                    <div class="col-md col-6 pl-md-2 mb-3 mb-md-0">
                        <div class="w-100 bg-white card-resume rounded text-right p-2 position-relative">
                            <span class="text-muted small">Range de engajamento</span>
                            <h5 class="mb-0">% - %</h5>
                        </div>
                    </div>
                    <div class="col-md col-6 pl-md-2 pr-0">
                        <div class="w-100 bg-white card-resume rounded text-right p-2 position-relative">
                            <span class="text-muted small">Engajamento %</span>
                            <h5 class="mb-0">@Math.Round(Model.Engajamento, 4) %</h5>
                        </div>
                    </div>
                    <div class="col-md col-6 pl-md-2 pr-md-3">
                        <div class="w-100 bg-white card-resume rounded text-right p-2 position-relative">
                            <span class="text-danger float-left small text-number">- 24.8%</span>
                            <span class="text-muted small">Avg. alcance post</span>
                            <h5 class="mb-0">@Math.Round(Model.MediaAlcancePost, 4)</h5>
                        </div>
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="col-md col-6 pr-0 mb-3 mb-md-0">
                        <div class="w-100 bg-white card-resume rounded text-right p-2 position-relative">
                            @*<span class="text-success float-left small text-number">+ 0.2%</span>*@
                            <span class="text-muted small">Mencionado por</span>
                            <h5 class="mb-0"></h5>
                        </div>
                    </div>
                    <div class="col-md col-6 pl-md-2 mb-3 mb-md-0">
                        <div class="w-100 bg-white card-resume rounded text-right p-2 position-relative">
                            @*<span class="text-success float-left small text-number">+ 451.1%</span>*@
                            <span class="text-muted small">Posts amplificados</span>
                            <h5 class="mb-0"></h5>
                        </div>
                    </div>
                    <div class="col-md col-6 pl-md-2 pr-0">
                        <div class="w-100 bg-white card-resume rounded text-right p-2 position-relative">
                            @*<span class="text-success float-left small text-number">+ 247.3%</span>*@
                            <span class="text-muted small">Alcance amplificado</span>
                            <h5 class="mb-0"></h5>
                        </div>
                    </div>
                    <div class="col-md col-6 pl-md-2 pr-md-3">
                        <div class="w-100 bg-white card-resume rounded text-right p-2 position-relative">
                            @*<span class="text-success float-left small text-number">+ 29.2%</span>*@
                            <span class="text-muted float-right small mb-1">Avg. alcance do post amplificado</span>
                            <h5 class="mb-0 mt-3"></h5>
                        </div>
                    </div>
                </div>

                <div class="row mt-5" id="hashtags">
                    <div class="col">
                        <h3 class="">HASHTAGS</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card border-0">
                            <div class="table-responsive">
                                @if (Model != null)
                                {
                                    if (Model.LstInstaHashs != null)
                                    {
                                        <table class="table-sm table table-hover text-center mb-0">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>Hashtag</th>
                                                    <th>Usada</th>
                                                    <th>Usada %</th>
                                                    <th>Alcance do Combo</th>
                                                    <th>Alcance / Post</th>
                                                    <th>Engajamento %</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model.LstInstaHashs)
                                                {
                                                    <tr>
                                                        <td class="align-middle">
                                                            @if (item.Imagens != null)
                                                            {
                                                                foreach (var itImagens in item.Imagens)
                                                                {
                                                                    <img src="@Html.DisplayFor(modelItem => itImagens)"
                                                                         width="32" />
                                                                }
                                                            }
                                                        </td>
                                                        <td class="align-middle">#@Html.DisplayFor(modelItem => item.UserName)</td>
                                                        <td class="align-middle">@Html.DisplayFor(modelItem => item.Used)</td>
                                                        <td class="align-middle">@Html.DisplayFor(modelItem => item.UsedPerc)%</td>
                                                        <td class="align-middle">@Html.DisplayFor(modelItem => item.Reach)</td>
                                                        <td class="align-middle">
                                                            @{
                                                                var reachPost = Math.Round(Convert.ToDecimal(item.Reach) / Convert.ToDecimal(item.Used), 0);
                                                            }
                                                            <span>@reachPost</span>
                                                        </td>
                                                        <td class="align-middle">
                                                            @{
                                                                var engaj =
                                                                    Math.Round((
                                                                    Convert.ToDouble(item.Reach) /
                                                                    Convert.ToDouble(Model.Seguidores)
                                                                    ) * 100, 4);
                                                            }
                                                            @if (Convert.ToDouble(engaj) <
                                                          (Model.Seguidores < faixa1 ? valor1 : (Model.Seguidores < faixa2 ? valor2 : valor0))
                                                           )
                                                            {
                                                                <span class="text-danger">
                                                                    @Html.Raw(engaj) %
                                                                </span>
                                                            }
                                                            else
                                                            {
                                                                <span class="text-success">
                                                                    + @Html.Raw(engaj) %
                                                                </span>
                                                            }
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>

                <!--
                <div class="row mt-5" id="mentions">
                    <div class="col">
                        <h3 class="">MENÇÕES</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card border-0">
                            <div class="table-responsive">
                                <table class="table-sm table table-hover text-center mb-0">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Nome do usuário</th>
                                            <th>Usada</th>
                                            <th>Usada %</th>
                                            <th>Alcance do Combo</th>
                                            <th>Alcance / Post</th>
                                            <th>Engajamento %</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="align-middle"><img width="32" src="~/resources/assets/images/post.jpg" alt=""></td>
                                            <td class="align-middle"><div class="d-flex align-items-center"><div class="box-thumb-rounded mr-2"><img width="32" src="~/resources/assets/images/post.jpg" alt=""></div>@@sylviomarinho</div></td>
                                            <td class="align-middle">400</td>
                                            <td class="align-middle">25%</td>
                                            <td class="align-middle">35.550</td>
                                            <td class="align-middle">34.900</td>
                                            <td class="align-middle"><span class="text-danger">0.0304%</span></td>
                                        </tr>
                                        <tr>
                                            <td class="align-middle"><img width="32" src="~/resources/assets/images/post.jpg" alt=""></td>
                                            <td class="align-middle"><div class="d-flex align-items-center"><div class="box-thumb-rounded mr-2"><img width="32" src="~/resources/assets/images/post.jpg" alt=""></div> @@sylviomarinho</div></td>
                                            <td class="align-middle">400</td>
                                            <td class="align-middle">25%</td>
                                            <td class="align-middle">35.550</td>
                                            <td class="align-middle">34.900</td>
                                            <td class="align-middle"><span class="text-danger">0.0304%</span></td>
                                        </tr>
                                        <tr>
                                            <td class="align-middle"><img width="32" src="~/resources/assets/images/post.jpg" alt=""></td>
                                            <td class="align-middle"><div class="d-flex align-items-center"><div class="box-thumb-rounded mr-2"><img width="32" src="~/resources/assets/images/post.jpg" alt=""></div> @@sylviomarinho</div></td>
                                            <td class="align-middle">400</td>
                                            <td class="align-middle">25%</td>
                                            <td class="align-middle">35.550</td>
                                            <td class="align-middle">34.900</td>
                                            <td class="align-middle"><span class="text-danger">0.0304%</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                --><!-- Recents Medias-->

                <div class="row mt-5" id="mentioned">
                    <div class="col">
                        <h3 class="">MENTIONED BY</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card border-0">
                            <div class="table-responsive">
                                @if (Model != null)
                                {
                                    if (Model.LstInstaMentions != null)
                                    {
                                        <table class="table-sm table table-hover text-center mb-0">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>Username</th>
                                                    <th>Usada</th>
                                                    <th>Usada %</th>
                                                    <th>Alcance do Combo</th>
                                                    <th>Alcance / Post</th>
                                                    <th>Engajamento %</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model.LstInstaMentions)
                                                {
                                                    <tr>
                                                        <td class="align-middle">
                                                            @if (item.Imagens != null)
                                                            {
                                                                foreach (var itImagens in item.Imagens)
                                                                {
                                                                    <img src="@Html.DisplayFor(modelItem => itImagens)"
                                                                         width="32" />
                                                                }
                                                            }
                                                        </td>
                                                        <td class="align-middle">@Html.DisplayFor(modelItem => item.UserName)</td>
                                                        <td class="align-middle">@Html.DisplayFor(modelItem => item.Used)</td>
                                                        <td class="align-middle">@Html.DisplayFor(modelItem => item.UsedPerc)%</td>
                                                        <td class="align-middle">@Html.DisplayFor(modelItem => item.Reach)</td>
                                                        <td class="align-middle">
                                                            @{
                                                                var reachPost = Math.Round(Convert.ToDecimal(item.Reach) / Convert.ToDecimal(item.Used), 0);
                                                            }
                                                            <span>@reachPost</span>
                                                        </td>
                                                        <td class="align-middle">
                                                            @{
                                                                var engaj =
                                                                    Math.Round((
                                                                    Convert.ToDouble(item.Reach) /
                                                                    Convert.ToDouble(Model.Seguidores)
                                                                    ) * 100, 4);
                                                            }
                                                            @if (Convert.ToDouble(engaj) <
                                                         (Model.Seguidores < faixa1 ? valor1 : (Model.Seguidores < faixa2 ? valor2 : valor0))
                                                          )
                                                            {
                                                                <span class="text-danger">
                                                                    @Html.Raw(engaj) %
                                                                </span>
                                                            }
                                                            else
                                                            {
                                                                <span class="text-success">
                                                                    + @Html.Raw(engaj) %
                                                                </span>
                                                            }
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-5" id="places">
                    <div class="col">
                        <h3 class="">PLACES</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card border-0">
                            @if (Model != null)
                            {
                                if (Model.LstInstaMaps != null)
                                {
                                    <div class="table-responsive">
                                        <table class="table-sm table table-hover text-center mb-0">
                                            <thead>
                                                <tr>
                                                    <th scope="col"></th>
                                                    <th scope="col">Localização</th>
                                                    <th scope="col">Usada</th>
                                                    <th scope="col">Usada %</th>
                                                    <th scope="col">Alcance do Combo</th>
                                                    <th scope="col">Alcance / Post</th>
                                                    <th scope="col">Engajamento %</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model.LstInstaMaps)
                                                {
                                                    <tr>
                                                        <td class="align-middle">
                                                            @if (item.Imagens != null)
                                                            {
                                                                foreach (var itImagens in item.Imagens)
                                                                {
                                                                    <img src="@Html.DisplayFor(modelItem => itImagens)"
                                                                         width="32" />
                                                                }
                                                            }
                                                        </td>
                                                        <td class="align-middle">
                                                            @Html.DisplayFor(modelItem => item.UserName)
                                                        </td>
                                                        <td class="align-middle">
                                                            @Html.DisplayFor(modelItem => item.Used)
                                                        </td>
                                                        <td class="align-middle">
                                                            @Html.DisplayFor(modelItem => item.UsedPerc)
                                                        </td>
                                                        <td class="align-middle">
                                                            @Html.DisplayFor(modelItem => item.Reach)
                                                        </td>
                                                        <td class="align-middle">
                                                            @{
                                                                var reachPost = Math.Round(Convert.ToDecimal(item.Reach) / Convert.ToDecimal(item.Used), 0);
                                                            }
                                                            <span>@reachPost</span>
                                                        </td>
                                                        <td class="align-middle">
                                                            @{
                                                                var engaj =
                                                                    Math.Round((
                                                                    Convert.ToDouble(item.Reach) /
                                                                    Convert.ToDouble(Model.Seguidores)
                                                                    ) * 100, 4);
                                                            }
                                                            @if (Convert.ToDouble(engaj) <
                                                           (Model.Seguidores < faixa1 ? valor1 : (Model.Seguidores < faixa2 ? valor2 : valor0))
                                                            )
                                                            {
                                                                <span class="text-danger">
                                                                    @Html.Raw(engaj) %
                                                                </span>
                                                            }
                                                            else
                                                            {
                                                                <span class="text-success">
                                                                    + @Html.Raw(engaj) %
                                                                </span>
                                                            }

                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>

                <div class="row mt-5" id="maps-places">
                    <div class="col">
                        <h3 class="">MAPS PLACES</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card border-0">
                            <div class="table-responsive" style="height:500px; width:100%" id="map">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-5" id="photo">
                    <div class="col">
                        <h3 class="">PHOTO TAG</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card border-0">
                            <div class="table-responsive">
                                @if (Model != null)
                                {
                                    if (Model.LstInstaPhotoTags != null)
                                    {
                                        <table class="table-sm table table-hover text-center mb-0">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>Username</th>
                                                    <th>Usada</th>
                                                    <th>Usada %</th>
                                                    <th>Alcance do Combo</th>
                                                    <th>Alcance / Post</th>
                                                    <th>Engajamento %</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model.LstInstaPhotoTags)
                                                {
                                                    <tr>
                                                        <td class="align-middle">
                                                            @if (item.Imagens != null)
                                                            {
                                                                foreach (var itImagens in item.Imagens)
                                                                {
                                                                    <img src="@Html.DisplayFor(modelItem => itImagens)"
                                                                         width="32" />
                                                                }
                                                            }
                                                        </td>
                                                        <td class="align-middle">@Html.DisplayFor(modelItem => item.UserName)</td>
                                                        <td class="align-middle">@Html.DisplayFor(modelItem => item.Used)</td>
                                                        <td class="align-middle">@Html.DisplayFor(modelItem => item.UsedPerc)%</td>
                                                        <td class="align-middle">@Html.DisplayFor(modelItem => item.Reach)</td>
                                                        <td class="align-middle">
                                                            @{
                                                                var reachPost = Math.Round(Convert.ToDecimal(item.Reach) / Convert.ToDecimal(item.Used), 0);
                                                            }
                                                            <span>@reachPost</span>
                                                        </td>
                                                        <td class="align-middle">
                                                            @{
                                                                var engaj =
                                                                    Math.Round((
                                                                    Convert.ToDouble(item.Reach) /
                                                                    Convert.ToDouble(Model.Seguidores)
                                                                    ) * 100, 4);
                                                            }
                                                            @if (Convert.ToDouble(engaj) <
                                                        (Model.Seguidores < faixa1 ? valor1 : (Model.Seguidores < faixa2 ? valor2 : valor0))
                                                         )
                                                            {
                                                                <span class="text-danger">
                                                                    @Html.Raw(engaj) %
                                                                </span>
                                                            }
                                                            else
                                                            {
                                                                <span class="text-success">
                                                                    + @Html.Raw(engaj) %
                                                                </span>
                                                            }
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>

                <!--
    <div class="row mt-5" id="recent">
        <div class="col">
            <h3 class="">RECENT MEDIA</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card border-0">
                @if (Model != null)
                {
                    if (Model.LstInstaMidias != null)
                    {
                        <div class="table-responsive">
                            <table class="table-sm table table-hover text-center mb-0">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Hashtag</th>
                                        <th>Usada</th>
                                        <th>Usada %</th>
                                        <th>Alcance do Combo</th>
                                        <th>Alcance / Post</th>
                                        <th>Engajamento %</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.LstInstaMidias)
                                    {
                                        <tr>
                                            <td>
                                                @if (item.Imagens != null)
                                                {
                                                    foreach (var itImagens in item.Imagens)
                                                    {
                                                        <img src="@Html.DisplayFor(modelItem => itImagens)"
                                                             width="30" height="30" />
                                                    }
                                                }
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.UserName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Used)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.UsedPerc)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Reach)
                                            </td>
                                            <td>
                                                @{
                                                    var reachPost = Math.Round(Convert.ToDecimal(item.Reach) / Convert.ToDecimal(item.Used), 0);
                                                }
                                                <span>@reachPost</span>
                                            </td>
                                            <td>
                                                @if (item.DiffUsedEngag < 1)
                                                {
                                                    <span style="color:darkred">
                                                        0 %
                                                    </span>
                                                }
                                                else
                                                {

                                                    if (Convert.ToDouble(item.Engagemer) <
                                                            (Model.Seguidores < faixa1 ? valor1 : (Model.Seguidores < faixa2 ? valor2 : valor0))
                                                            )
                                                    {
                                                        <span style="color:darkred">
                                                            @Html.DisplayFor(modelItem => item.Engagemer) %
                                                        </span>
                                                    }
                                                    else
                                                    {
                                                        <span style="color:forestgreen">
                                                            + @Html.DisplayFor(modelItem => item.Engagemer) %
                                                        </span>
                                                    }
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
    -->
                <!-- Recents Medias-->

                <div class="row mt-5" id="emotional">
                    <div class="col">
                        <h3 class="">EMOTIONAL PROFILE ANALYSIS</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card border-0">
                            <div class="row">
                                <div class="col-md-6 col-12">
                                    @if (Model != null)
                                    {
                                        if (Model.LstFaceDetection != null)
                                        {
                                            <div class="table-responsive">
                                                <table class="table-sm table table-hover text-center mb-0">
                                                    <thead>
                                                        <tr>
                                                            <th></th>
                                                            <th>Alegria</th>
                                                            <th>Surpresa</th>
                                                            <th>Raiva</th>
                                                            <th>Tristeza</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var item in Model.LstFaceDetection)
                                                        {
                                                            <tr>
                                                                <td class="align-middle">
                                                                    @if (item.UrlImagem != null)
                                                                    {

                                                                        <img src="@item.UrlImagem" width="32" />

                                                                    }
                                                                </td>
                                                                <td class="align-middle">
                                                                    @Html.DisplayFor(modelItem => item.Joy)
                                                                </td>
                                                                <td class="align-middle">
                                                                    @Html.DisplayFor(modelItem => item.Sorrow)
                                                                </td>
                                                                <td class="align-middle">
                                                                    @Html.DisplayFor(modelItem => item.Anger)
                                                                </td>
                                                                <td class="align-middle">
                                                                    @Html.DisplayFor(modelItem => item.Surprise)
                                                                </td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        }
                                    }
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="pt-3 pl-2 pr-2 pb-2">
                                        <canvas id="barcanvas" width="100%" height="250"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-3 col-12 position-relative order-1 order-md-2 p-0 sidebar-fixed d-none">
                <nav class="ml-md-3 nav flex-md-column flex-row justify-content-between bg-white card-resume rounded fixed" id="sidebar">
                    <a class="nav-link active" href="#"><i class="far fa-user mr-2"></i> <span class="d-none d-md-inline-block">PERFIL</span></a>
                    <a class="nav-link" href="javascript:;" data-link="#hashtags"><i class="fa fa-hashtag mr-2"></i> <span class="d-none d-md-inline-block">HASTAGS</span></a>
                    <a class="nav-link" href="javascript:;" data-link="#mentions"><i class="fa fa-at mr-2"></i> <span class="d-none d-md-inline-block">MENÇÕES</span></a>
                    <a class="nav-link" href="javascript:;" data-link="#mentioned"><i class="fa fa-comments mr-2"></i> <span class="d-none d-md-inline-block">MENCIONADO POR</span></a>
                    <a class="nav-link" href="javascript:;" data-link="#places"><i class="fa fa-map-marker-alt mr-2"></i> <span class="d-none d-md-inline-block">LUGARES</span></a>
                    <a class="nav-link" href="javascript:;" data-link="#maps-places"><i class="fa fa-map-marked-alt mr-2"></i> <span class="d-none d-md-inline-block">MAPAS DE LUGARES</span></a>
                    <a class="nav-link" href="javascript:;" data-link="#photo"><i class="fa fa-tags mr-2"></i> <span class="d-none d-md-inline-block">FOTO TAGS</span></a>
                    <a class="nav-link" href="javascript:;" data-link="#recent"><i class="far fa-images mr-2"></i> <span class="d-none d-md-inline-block">MEDIA RECENTE</span></a>
                    <a class="nav-link" href="javascript:;" data-link="#emotional"><i class="far fa-images mr-2"></i> <span class="d-none d-md-inline-block">ANALISE EMOCIONAL</span></a>
                </nav>
            </div>
        </div>
    </div>

    <script type="text/javascript">
                var markers = @Html.Raw(ViewBag.Markers);
                InitMarkers(markers);
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDIDcw3VuLRqxv9TY9Xf0sLjHcf3fQSsW4&libraries=places&callback=getLocation"
            async defer></script>

    <script src="~/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="~/node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="~/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="~/node_modules/chart.js/dist/Chart.min.js"></script>
    <script src="~/node_modules/chartjs-plugin-datalabels/dist/chartjs-plugin-datalabels.min.js"></script>

</body>
</html>

<script>

    var ctx = document.getElementById("barcanvas");

    var myChart = new Chart(ctx, {
        type: 'bar',
        responsive: true,
        data: {
            labels: ["Alegria", "Surpresa", "Raiva", "Tristeza"],
            datasets: [
                {
                    data: [@ViewBag.ListaFaceDetection],
                    fill: false,
                    backgroundColor: [
                        'green',
                        '#ffcc00',
                        'red',
                        'silver',

                    ],
                    borderWidth: 1
                },
            ]
        },
        options: {
            plugins: {
                datalabels: {
                    color: '#fff',
                    formatter: function (value) {
                        return value + '%';
                    }
                }
            },
            maintainAspectRatio: false,
            tooltips: false,
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            },
            legend: {
                display: false
            },
        }
    });

    $(window).scroll(function () {
        if ($(window).width() > 992) {
            if ($(window).scrollTop() > 100) {
                $('#row-fixed').show();
                $('#row-fixed').addClass('t-0');

            }
            else {
                $('#row-fixed').hide();
                $('#row-fixed').removeClass('t-0');
            }
        }
        else {
            if ($(window).scrollTop() > 15) {
                $('#row-fixed').show();
                $('#row-fixed').addClass('t-0');

            }
            else {
                $('#row-fixed').hide();
                $('#row-fixed').removeClass('t-0');
            }
        }
    });

    $('#sidebar a').click(function () {
        $('html, body').animate({
            scrollTop: $($.attr(this, 'data-link')).offset().top - 100
        }, 500);
        return false;
    });

	<!--Start of Tawk.to Script-->
	<script type="text/javascript">
		var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
		(function(){
			var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
			s1.async=true;
			s1.src='https://embed.tawk.to/5ca9005553f1e453fb8c767a/default';
			s1.charset='UTF-8';
			s1.setAttribute('crossorigin','*');
			s0.parentNode.insertBefore(s1,s0);
		})();
	</script>
	<!--End of Tawk.to Script-->
</script>